.form-control{
  outline: 0;
  border: 0;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link{
  border-radius: 0;
}


.modal-dialog-scrollable .modal-content{
  overflow-y: scroll;
}

.breadcrumb-item a{
  display: inline;
}

.table > :not(caption) > * > * {
  color: inherit;
}

.list-group-item {
  font-weight: 500;
  &:hover:not(.active) {
    background: $light;
    font-weight: 700;
  }
}
