@import '@/assets/helpers/variables';

body{
  font-family: 'Noto Sans TC', sans-serif;
  color: $primary-text-emphasis;
}

.font-serif{
  font-family: 'Noto Serif TC', serif;
}

.text-highlight{
  color: #787149
}




.categories-list-item{
  transition: all 0.5s;
  color: $primary;
    background-color: $light;
    border: 1px solid $primary;
    border-radius: 1.5rem;
  &.active, &:hover{
    color: $light;
    background-color: $primary;
    border: 1px solid $primary;

}
}

.bg-fix{
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('src/assets/images/background/bg.png') no-repeat;
  background-size: cover;
  z-index: -1;
}


.list-group-item, .page-link{
  background: transparent;
  border: 1px solid $primary;
}

.disabled .page-link{
    background: transparent;
    color: $secondary;
}

.page-link{

  &:hover{
    color: white;
    background: $primary;
  }
}


.btn-light:hover, :not(.btn-check) + .btn:active{
  background: $primary;
  color: $light;
}

.step-item {

  border: 1px solid  $primary-text-emphasis;
}



.active {
  .step-item{
    background: $primary;
    color: $light;
  }
  .step-title{
    color: $primary;
  }
}

