// scrollbar-hidden

.scrollbar-hidden{
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

.lh-normal{
  line-height: 1.5;
}

.rounded-sm{
  border-radius: 1rem !important;
}

.rounded-md{
  border-radius: 1.5rem !important;
}

.vertical-text {
  writing-mode: vertical-rl;
}

// font-size

.fs-md{
  font-size: 18px;
}



.fs-sm{
  font-size: 14px;
}

// width

.w-60{
  width: 60%;
}

.w-40{
  width: 40%;
}

.w-fit {
  width: fit-content;
}

.pt-xl {
  padding-top: 5rem;
}