// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import './helpers/variables';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 5. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';


@import 'bootstrap/scss/bootstrap';
@import './helpers/rwd';
@import './helpers/reset';
@import './helpers/utilities';
@import './helpers/theme';


